
:root{
    --logoText-color: #09574B;
    --primary-color:#007839;
    --body-bg:#F5F8FA;
    --icon-bg:#E1E5F1;
    --icon-color:#676E86;
    --desc-color:#676E86;
    --button-bg:#EDF6F1;
    --linear-gr:linear-gradient(to right,#087874,#0FBB4E);
    --linear-gr-bg:linear-gradient(#087874,#0FBB4E);
    --linear-gr-chart:linear-gradient(to top, #087874,#0FBB4E)
}
*{
    margin:0;
    padding:0;
    box-sizing: inherit
}
html{
    font-size:62.5%;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}
a{
    text-decoration: none;
}
img{
    width:100%;
    object-fit: cover;
}
ul{
    list-style: none;
}
button{
    outline:none;
    
}
.hidden{
    display:none;
}
.flex{
    display:flex;

}
.ai-center{
    align-items: center;
}
.jc-center{
    justify-content: center;
}
.jc-sb{
    justify-content: space-between;
}
.jc-sa{
    justify-content: space-around;
}
.jc-se{
    justify-content:space-evenly;
}
.active-btn{
    background-image:var(--linear-gr) !important;
    color:#FFF !important;
    /* box-shadow:2px 2px 4px rgba(0,0,0,0.25); */
   
}
.l-11{
    
    z-index:2;
}

.l-22{
    left:23px;
    z-index:3;
}
.l-33{
    left:46px;
    z-index:4;
}
.l-44{
    left:69px;
    z-index:5;
}
.l-55{
    left:92px;
    z-index:6;
}
.l-66{
    left:115px;
    z-index:7;
}
.l-77{
    left:138px;
    z-index:8;
}
.l-88{
    left:161px;
    z-index:9;
}
.vertical-line{
    background-color:#D6D6D6;
    width:1px;
    height:19px;

    margin:0 24px;
}
.primary-bg{
    color:#fff;
    
    border-radius:5px;
    background-color:#007739;
    outline:none;
    border:none;
}
.yellow-bg{
    background-color:#F4A100;
    color:#fff;
}
.pink-bg{
    background-color:#FF4D4F;
    color:#fff;
    font-size:1.2rem;
    font-weight:400;
    line-height:1.5rem;
}
.line-through{
    text-decoration: line-through;
    color:#6C746E;
    margin-right:24px;
}
.active-price{
    color:#007839;
    font-weight:700;
}
.ml-8{
    margin-left:8px;
}
.hori-line{
    width:55px;
    height:1px;
    background-color:#AEE4B0;
    margin:7px 2.5px;
}
.active .circle{
    width:10px;height:10px;
    border-radius:50%;
    background: rgba(14, 191, 70, 1);
    margin-right:4px;

}
.circle{
    width:10px;height:10px;
    border-radius:50%;
    background:rgba(108, 108, 108, 1);
    margin-right:4px;
}
.col-4{
    width:31.5%;
    margin-top:38px;
    margin-bottom:47px;
}
.line{
    width:20px;
    height:2px;
    background-color:#000;
    
}
.line:not(:last-child){
    margin-bottom:5px;

}
.hamburger-menu{
        
        position: absolute;
        right: 40px;
        display:none;
}
.animate {
    transition:transform linear 0.2s;
    
}
.animate .overlay{
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0,0,0,0.3)
}
.animate .line:first-child{
   transform:rotate(45deg);
   transform-origin: 4px;
}
.animate .line:nth-child(2){
    display:none;
 }
 .animate .line:nth-child(3){
    transform:rotate(-45deg);
    transform-origin: 6px
 }
 
 .content.animate-col .user-col{
     position: absolute;
     right:0;
     width:233px !important;
     display: block !important;
     z-index:11;
     
 }
 .content.animate-col  .user-col .user-img{
     width:170px;
 }
 .animate-col .user-infor-name .btn{
     width:80%;
     margin-left:auto;
     margin-right:auto;
 }

 .imgIcon-col{
     width:223px;
     display: block !important;
 }

 .slide-left {
	-webkit-animation: slide-left 0.5s ease-in both;
	        animation: slide-left 0.5s ease-in both;
}
/* ----------------------------------------------
 * Generated by Animista on 2021-11-29 22:53:12
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(230px);
            transform: translateX(230px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(230px);
            transform: translateX(230px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
/* hover for button and card-product */
.card-product:hover{
    box-shadow: 3px 3px rgba(0,0,0,0.3);
    transform: translateY(-4px);
    transition: transform 0.2s linear;
}
.moreInfo-col div .gradient-border:hover,
.btn-private:hover,
.user-col .user-achieve .btn:hover{
    border:2px solid #007739

}
.plan.card-product:hover,
.exam.card-product:hover{
    border-radius:10px;
}
/* scale */
.scale-out-hor-right {
	-webkit-animation: scale-out-hor-right 0.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: scale-out-hor-right 0.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2021-11-29 23:40:57
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-out-hor-right
 * ----------------------------------------
 */
 @-webkit-keyframes scale-out-hor-right {
    0% {
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
      opacity: 1;
    }
  }
  @keyframes scale-out-hor-right {
    0% {
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
      opacity: 1;
    }
  }
  
  .scale-up-ver-bottom {
	-webkit-animation: scale-up-ver-bottom 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-ver-bottom 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2021-11-30 0:19:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-ver-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes scale-up-ver-bottom {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
    }
  }
  @keyframes scale-up-ver-bottom {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
    }
  }
  
  /* process bar animation */
  .progress {
    background:#E1E5F1;
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    
    display: flex;
    height: 14px;
    width: 389px;
  }
  
  .progress-value {
    
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #F4A100;
    height: 14px;
    width: 0;
  }
  .load-1{
    animation: load-1 3s normal forwards;
  }
  .load-2{
    animation: load-2 3s normal forwards;
  }
  .load-3{
    animation: load-3 3s normal forwards;
  }
  .load-4{
    animation: load-4 3s normal forwards;
  }
  
  @keyframes load-1 {
    0% { width: 0; }
    100% { width: 15%; }
  }
  @keyframes load-2 {
    0% { width: 0; }
    100% { width: 45%; }
  }
  @keyframes load-3 {
    0% { width: 0; }
    100% { width: 75%; }
  }
  @keyframes load-4 {
    0% { width: 0; }
    100% { width: 100%; }
  }

.progress-bar{
    color:rgba(31, 31, 31, 1);
    font-size:1.4rem;
    line-height:1.8rem;
    font-weight:600;
}