@media only screen and (max-width:1920px){
    .user-col,
    .hamburger-menu{
        display:none;
    }
}
@media only screen and (max-width:1439px){
    .voucher-item .voucher-txt-title{
        font-size:4rem;
    }
}
@media only screen and (max-width:1348px){
    .wrapper-course{
        flex-wrap:wrap;
    }
    .vouchers .course{
        width:500px;
    }
    .vouchers .course-txt{
        margin-top:73px;
        margin-bottom:30px
    }
    .vouchers .course .info-course .hot{
        top:-267px;
        right:-453px;
    }
    .discount-voucher .container{
        width:90%;
    }
}
@media only screen and (max-width:1260px){
    .voucher-wrapper .voucher-item .voucher-img{
        width:250px;
    }
    .voucher-wrapper .voucher-item .voucher-img,
    .voucher-wrapper .voucher-item .border{
        height:250px;
    }
    .voucher-wrapper .voucher-item .border{
        padding:15px 20px;
    }
}
@media only screen and (max-width:1188px){
    .user{
        flex-direction:column;
        justify-content: center;
        background-color:rgba(0,0,0,0.4);
        position:fixed;
        top:85px ;
        right:0;
        z-index:10;
        display:none;
    }
    @-webkit-keyframes slide-bottom {
        0% {
          -webkit-transform: translateY(-500%);
                  transform: translateY(-500%);
        }
        100% {
          -webkit-transform: translateY(-150%);
                  transform: translateY(-150%);
        }
      }
      @keyframes slide-bottom {
        0% {
          -webkit-transform: translateY(-500%);
                  transform: translateY(-500%);
        }
        100% {
          -webkit-transform: translateY(-150%);
                  transform: translateY(-150%);
        }
      }
    /* nav .nav-menu .user .cart, nav .nav-menu .user .bell, nav .nav-menu .user .arrow-down,
    nav .nav-menu .user .user-name{
        width:240px;
        background-color:#fff;
        border-radius:0;
        text-align:center;
        justify-content: center;
    }
    .nav-menu .user div:not(:last-child){
        margin:0;
    }
    
    .hamburger-menu{
        display:block;
    } */
}
@media only screen and (max-width:1148px){
    @-webkit-keyframes slide-bottom {
        0% {
          -webkit-transform: translateY(-500%);
                  transform: translateY(-500%);
        }
        100% {
          -webkit-transform: translateY(-150%);
                  transform: translateY(-150%);
        }
      }
      @keyframes slide-bottom {
        0% {
          -webkit-transform: translateY(-500%);
                  transform: translateY(-500%);
        }
        100% {
          -webkit-transform: translateY(-150%);
                  transform: translateY(-150%);
        }
      }
}
@media only screen and (max-width:1120px){
    .voucher-wrapper .voucher-item .voucher-img{
        width:250px;
    }
    .voucher-wrapper .voucher-item .voucher-img,
    .voucher-wrapper .voucher-item .border{
        height:250px;
    }
    .voucher-item .voucher-txt-title{
        font-size:3rem;
    }
    .voucher-wrapper .voucher-item .border{
        justify-content: space-between;
    }
    .voucher-wrapper .voucher-item{
        margin-top:40px;
    }
    .vouchers .course{
        width:60%;
        margin:auto;
    }
    .vouchers .course-txt{
        margin-top:133px;
    }
    .rate{
        justify-content:center;
    }
    .vouchers .rate button{
        margin:0 20px;
        padding:13px 20px;
    }
    .voucher-item .voucher-expired,
    .voucher-item .voucher-condition{
        font-size:2.6rem;
    }
    .voucher-item .primary-bg{
        width:200px;
    }
    /* .slide-bottom {
        -webkit-animation: slide-bottom 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: slide-bottom 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    @-webkit-keyframes slide-bottom {
        0% {
          -webkit-transform: translateY(-500%);
                  transform: translateY(-500%);
        }
        100% {
          -webkit-transform: translateY(-350%);
                  transform: translateY(-350%);
        }
      }
      @keyframes slide-bottom {
        0% {
          -webkit-transform: translateY(-500%);
                  transform: translateY(-500%);
        }
        100% {
          -webkit-transform: translateY(-350%);
                  transform: translateY(-350%);
        }
      } */
}
@media only screen and (max-width:1104px){

}
@media only screen and (max-width:990px){
    .voucher-wrapper .voucher-item .voucher-img,
     .voucher-wrapper .voucher-item .border{
        height:200px;
    }
    .voucher-wrapper .voucher-item .voucher-img img{
        width:81px;
    }
    .voucher-item .voucher-txt-title{
        margin-bottom:0;
    }
    .voucher-item .primary-bg{
        height:60px;
        width:160px;
    }
    .voucher-item .voucher-condition{
        margin-top:10px;
    }
    .popUp .popUp-header-img{
        width:180px;
        height:180px;
    }
    .popUp{
        width:80%;
        margin:auto;
    }
    .popUp .popUp-content{
        width:100%;
    }
}

@media only screen and (max-width:960px){
    .discount-voucher{
        margin-top:133px;
    }
    .discount-voucher .vouchers .voucher-title{
        font-size:4rem;
    }
    .voucher-wrapper .voucher-item .voucher-img,
     .voucher-wrapper .voucher-item .border{
        height:180px;
        width:180px;
    }
    .voucher-wrapper .voucher-item .voucher-img span,
    .voucher-item .voucher-max-return{
        font-size:2.3rem;
    }
    @-webkit-keyframes slide-bottom {
        0% {
          -webkit-transform: translateY(-500%);
                  transform: translateY(-500%);
        }
        100% {
          -webkit-transform: translateY(-100%);
                  transform: translateY(-100%);
        }
      }
      @keyframes slide-bottom {
        0% {
          -webkit-transform: translateY(-500%);
                  transform: translateY(-500%);
        }
        100% {
          -webkit-transform: translateY(-100%);
                  transform: translateY(-100%);
        }
      }
   
}

@media only screen and (max-width:860px){
    .voucher-wrapper .voucher-item{
        margin-top:20px;
    }
}
@media only screen and (max-width:856px){
    .voucher-wrapper .voucher-item .voucher-img, .voucher-wrapper .voucher-item .border{
        height:140px;
        width:140px;
    }
    .voucher-wrapper .voucher-item .voucher-img img{
        width:40px;
        height:40px;
    }
    .voucher-item .voucher-expired, .voucher-item .voucher-condition,
    .voucher-wrapper .voucher-item .voucher-img span, .voucher-item .voucher-max-return{
        font-size:2rem;
        line-height:2.2rem;
    }
    .voucher-item .voucher-txt-title{
        line-height:3.2rem;
        font-size:2.5rem;
    }
    .voucher-item .voucher-max-return{
        padding:4px 8px;
    }
    .voucher-item .voucher-btn{
        margin-top:30px;
    }
    .voucher-item .limited{
        font-size:1.5rem;
        width:125px;
    }
    .voucher-item .primary-bg{
        height:48px;
        width:138px;
        font-size:2.8rem;
        line-height:3rem;
    }
}
@media only screen and (max-width:796px){
    nav .nav-menu .menu a{
        font-size:1.5rem;
    }
    .discount-voucher .container{
        width:100%;
    }
    .voucher-item .limited{
        font-size:1.3rem;
        height:30px;
        width:112px;
    }
}
@media only screen and (max-width:692px){
    header nav{
        margin:0;
    }
}
@media only screen and (max-width:652px){
    .popUp .popUp-header-img{
        width:140px;
        height:140px;
    }
    .popUp .popUp-header .popUp-txt-title{
        margin-bottom:10px;
    }
    .popUp .popUp-content{
        padding:20px 30px;
    }
    .popUp .popUp-btn button{
        padding:7px 30px;
    }
    .popUp{
        height:fit-content;
    }
    .discount-voucher .vouchers .voucher-title{
        font-size: 2.7rem;
        line-height: 3.2rem;
    }
    .voucher-wrapper .voucher-item .voucher-img, .voucher-wrapper .voucher-item .border{
        width:100px;
        height:100px;
    }
    .voucher-wrapper .voucher-item .voucher-img img{
        width:25px;
        height:25px
    }
    .voucher-item .voucher-expired, .voucher-item .voucher-condition, .voucher-wrapper .voucher-item .voucher-img span, .voucher-item .voucher-max-return{
        font-size:1.2rem;
    }
    .voucher-item .primary-bg,
    .voucher-item .voucher-txt-title{
        font-size:2rem;
    }
    .voucher-item .voucher-condition{
        margin-top:0;
    }
    .voucher-item .limited{
        font-size:1rem;
        line-height: inherit;
        height:14px;
        width:88px;
    }
}
@media only screen and (max-width:580px){
    .next-pre-icon{
        bottom:124px;
    }
    nav .nav-menu .menu a{
        font-size:1.3rem;
    }
    .next-pre-icon svg{
        width:30px;
    }
    .discount-voucher{
        margin-top:32px;
    }
    .discount-voucher .vouchers .voucher-wrapper{
        margin-bottom:30px;
    }
    .voucher-wrapper .voucher-item .voucher-img, .voucher-wrapper .voucher-item .border{
        height:80px;
        width:80px;
    }
    .voucher-item .voucher-expired, .voucher-item .voucher-condition, .voucher-wrapper .voucher-item .voucher-img span, .voucher-item .voucher-max-return{
        font-size:1rem;
    }
    .voucher-item .primary-bg, .voucher-item .voucher-txt-title{
        font-size:1.3rem;
    }
    .voucher-item .voucher-max-return{
        padding:0;
        margin-bottom:0;
    }
    .voucher-item .primary-bg{
        height:28px;
        width:75px;
    }
    header nav .nav-menu{
        display:none;
    }
    .hamburger-menu{
        display:block;
    }
    footer .flex{
        flex-direction:column;
    }
    .col-4{
        width:100%;
        margin-bottom:20px;
        margin-top:20px;
    }
    footer span, footer p{
        font-size:1.3rem;
        line-height:1.5rem;
    }
}
@media only screen and (max-width:458px){
    .voucher-item .voucher-txt-title,
    .voucher-item .voucher-expired{
        line-height: normal;
    }
    .voucher-item .voucher-expired{
        margin:2px 0;

    }
    .voucher-item .border .voucher-txt{
        margin-right:0;
    }
}
@media only screen and (max-width:378px){
    .voucher-item .limited{
        font-size:0.7rem;
        height:10px;
        width:57px;
        margin-right:9px;
    }
    .voucher-item .limited:after{
        border-width:10px 10px 0px 0px
    }
    .voucher-item .primary-bg, .voucher-item .voucher-txt-title{
        font-size:1rem;
    }
    .voucher-wrapper .voucher-item .border{
        padding:10px;
    }
    .discount-voucher .vouchers .voucher-title{
        font-size:2rem;
        line-height:2.4rem;
    }
    .next-pre-icon{
        bottom:82px;
    }
    }
@media only screen and (max-width:316px){
    .voucher-item .voucher-max-return{
        line-height:1.8rem;
    }
    }
    