/* Desktop */
@media only screen and (max-width:1920px){
    .news-col .moreInfo-col,
    .news-col .plan,
    .news-col .fav-teacher,
    .news-col .fr,
    .news-col .wrapper-plan,
    .img-icon,
    .showAt4,
    .showAt6{
        display:none;
    }
    .scale-out-hor-right{

    }
    .my-courses .course .info-course .rate button{
        letter-spacing: -0.3px;
    }
    .teachers div >img{
        width:150px;

    }
    .content .news-col .banner{
        height:237px;
    }
    .banner-content .banner-txt{
        height:111px;
    }
    .banner-content .banner-txt img{
        height:inherit;
        object-fit: unset;
    }
}
@media only screen and (max-width:1440px){
    .btn-private
    {
        font-size:1.5rem;
    }  
    .moreInfo-col div .celender-course > img{
        width:100%;
    }
    .content .user-col .user-img{
        width:170px;
        height:170px;
    }
    .table-courses .charts{
        width:96%;
    }
    .banner-content .banner-txt img{
        height: 100%;
        object-fit: fill;
    }
    .banner-content .banner-txt{
        height:111px;
    }
    .moreInfo-col div .gradient-border{
        font-size:1.2rem;}
}
@media only screen and (max-width:1429px){
    .user-infor-name .btn,
    .user-col .user-achieve .btn,
    .btn-private
    {
        font-size:1.5rem;
    }  
    .moreInfo-col div .celender-course{
        width:90%;
    }
    .my-courses .course .info-course > p img{
        width:80%;
    }
} 
 @media only screen and (max-width:1405px){
    .user-infor-name h3.name,
    .live-timetable .live .title,
    .moreInfo-col div .title,
    nav .nav-menu .menu a{
        font-size:1.8rem;
        line-height:2.4rem;
    }
    .user-col .user-courses .btn,
    .moreInfo-col div .gradient-border{
        font-size:1.2rem;
        line-height:1.4rem;
    }
    .user-col .user-achieve .btn,
    .noti-box .label,
    
    .user-col .user-achieve .title{
        font-size:1.4rem;
        line-height:1.6rem;
    }
    .noti-box .txt{
        font-size:1.4rem;
    }
    .celender-course .course-img-item{
        width:46px;
        height:46px;
    }
    .l-11{
    
        z-index:2;
    }
    
    .l-22{
        left:16px;
        z-index:3;
    }
    .l-33{
        left:32px;
        z-index:4;
    }
    .l-44{
        left:48px;
        z-index:5;
    }
    .l-55{
        left:64px;
        z-index:6;
    }
    .l-66{
        left:80px;
        z-index:7;
    }
    .l-77{
        left:96px;
        z-index:8;
    }
    .l-88{
        left:112px;
        z-index:9;
    }
    
}
@media only screen and (max-width:1380px){
    .moreInfo-col div .gradient-border{
       
        padding:5px 10px;
    }
    .boxes .box{
        padding: 26px 25.5px;
        
    }
    .btn-private{
        font-size:1.3rem;
        padding:10px 10px;
    }
    .boxes .box-coins h1,
    .boxes .box-course h1{
        font-size:4.5rem;
        line-height:6rem;
    }
}
@media only screen and (max-width:1366px){
    .moreInfo-col div .celender-course>div p{
        font-size:1.2rem;
        
    }
    .my-courses .course .info-course .rate button{
        font-size:1rem;
    }
   
    .teachers .name{
        font-size:1.4rem;
        line-height:1.8rem;
    }
    .teachers .name{
        height:auto;
    }
    
    
    .banner-content .banner-txt{
       
        margin-top: 40px;
        margin-left: 33px;
        
    }
    .banner .banner-contact{
        margin-bottom:3.9rem;
        
    }
    .teachers div >img{
        height:130px;
        width:130px;
    }
    
    
}
@media only screen and (max-width:1345px){
    .content .user-col .user-img{
        width:150px;
        height:150px;
    }
    .user-infor-name h3.name,
    .live-timetable .live .title,
    
    nav .nav-menu .menu a{
        font-size:1.5rem;
        line-height:2.1rem;
    }
    .exam-list .exam .exam-info p:not(:last-child){
        margin:4px 0;
    }
    .user-infor-name .btn,
    .user-col .user-achieve .btn{
        font-size:1.3rem;
    } 
    .moreInfo-col div .celender-course>div p{
        font-size:1rem;
    }
   
}
@media only screen and (max-width:1345px){
    .teachers div >img{
        height:100px;
        width:100px;
    }
}
@media only screen and (max-width:1293px){
    .content .user-col{
        display:none;
        width:0;
        transition:all 4s;
        right:-100%;
    } 
    .hamburger-menu{
        display:block;
    }
    .teachers div >img{
        width:130px;
    }
    .exam-body .exam-list .exam img{
        width:40%;
    }
    .examination .exam-body >img{
        width:45%;
    }
    .table-courses .table-header .time{
        width:57%;
    }
    .user-infor-name h3.name{
        font-size:1.5rem;
    }
    
    .user-col .user-courses .btn,
    .btn-private{
        padding:10px 10px;
    }
    .banner .banner-txt .banner-title,
     nav .nav-menu .menu a,
     
     .moreInfo-col div .title{
     
        
        font-size:1.8rem;
        line-height:2.4rem;
    }
    .banner .banner-contact{
        margin-bottom:2.9rem;
    }
    .banner-content .banner-txt
    {
        height:50%
    }
    .content .news-col .banner:after{
        height:100%;
    }
    .banner .banner-img{
       
        margin-left:10px;
    }
    .banner-content .banner-txt, .content .news-col .banner:after{
        width:100%
    }
    .banner-content{
        width:60%;
        margin-right:18px;
    }
    .boxes .box{
        padding: 26px 25.5px;
        
    }
    .boxes .box-coins h1,
    .boxes .box-course h1{
        font-size:3.8rem;
        line-height:4.3rem;
    }
    .boxes .box img{
        width:70px;
        height:70px;
    }
    .live-timetable .live .title,
    .exam-list .exam .exam-info h3,
    .banner .banner-txt .banner-desc,
    footer span, footer p
    {
        font-size:1.3rem;
        line-height:1.8rem;
    }
    .btn-private{
        font-size:1.3rem;
        line-height:2rem;
    }
    .live-timetable .live p, .live-timetable .live .primary-bg,
    .exam-list .exam .exam-info p{
        font-size:1.1rem;
        line-height:1.6rem;
    }
}
@media only screen and (max-width:1224px){
    .banner .banner-contact{
        margin-left:20%;
    }
    .banner .banner-txt .banner-title, .user-infor-name h3.name{
        font-size:1.5rem;
        line-height:1.8rem;
    }
    .user-infor-name .btn, .user-col .user-achieve .btn,
   .user-col .user-achieve .title
  {
        font-size:1.2rem;
        line-height:1.4rem;
    }
    .my-courses .course>img{
        width:180px;
        height:auto;
    }
}

@media only screen and (max-width:1180px){
    .content .user-col .user-img{
        width:130px;
        height:130px;
    }
    .user-col .user-achieve .btn{
        width:100%;
        font-size:1rem;
    }
    .boxes .box{
        padding: 16px 21.5px;
    }
    .boxes .box .title
    {
        font-size:1.5rem;
        line-height:1.8rem;
    }
    .moreInfo-col div .title{
        font-weight:800;
    }
    .boxes .box-coins h1, .boxes .box-course h1{
        font-size: 3rem;
        line-height: 3.5rem;
    }
    .teachers > div.flex{
        flex-direction: column;
        margin-bottom:16px;
    }
    .teachers div >img{
        width:40%;
        margin-bottom:10px;
    }
    .live-timetable .live .title,
    .live-timetable .live p.desc,
    .moreInfo-col div .gradient-border{
        font-size:1rem;
        line-height:1rem;
    }
    .private-btn{
        font-size: 1.1rem;
        font-weight: 900;
    }
}
@media only screen and (max-width:1193px){
    .celender-course .course-img-item{
        width:40px;
        height:40px;
    }
    .btn-private{
        font-size:1.5rem;
    }
    .user-col .user-courses .btn{
        font-size:1.4rem;
    }
    .content.animate-col  .user-col .user-img{
        width:150px;
        height:150px;
    }
    .user-col .user-courses .btn, .btn-private{
        padding:15px 13px;
    }
    
    footer .footer-bottom p{
        width:70%;
    }
    .user-infor-name h3.name {
        font-size:2rem;

    }
    .btn-private{
        font-size:1.8rem;
        padding:11px 16px;
    }
}
@media only screen and (max-width:1093px){
    .user{
        display: none;
    }
    .boxes .box .title,
    .friend-ls .friend-name >p
   {
        font-size:1.3rem;
        line-height:1.5rem;
    }
    .moreInfo-col div .celender-course > img{
        margin-top:10px;
    }
    
}
@media only screen and (max-width:1068px){
    .banner-title, nav .nav-menu .menu a, .user-infor-name h3.name{
        font-size:1.8rem;
    }
    .celender-course .course-img-item{
        width:40px;
        height:40px;
    }
    .l-11{
    
        z-index:2;
    }
    
    .l-22{
        left:11px;
        z-index:3;
    }
    .l-33{
        left:22px;
        z-index:4;
    }
    .l-44{
        left:33px;
        z-index:5;
    }
    .l-55{
        left:44px;
        z-index:6;
    }
    .l-66{
        left:55px;
        z-index:7;
    }
    .l-77{
        left:66px;
        z-index:8;
    }
    .l-88{
        left:77px;
        z-index:9;
    }
    .content .moreInfo-col{

        width: 35.431%;
    }
    .content .news-col{
        margin-left:0;
        margin-right:10px;
        width:60%;
    }
    .celender-course .course-img-item{
        width:48px;
        height:48px;
    }
    .my-courses .course .info-course{
        width:60%;
    }
    .l-11{
    
        z-index:2;
    }
    
    .l-22{
        left:16px;
        z-index:3;
    }
    .l-33{
        left:32px;
        z-index:4;
    }
    .l-44{
        left:48px;
        z-index:5;
    }
    .l-55{
        left:64px;
        z-index:6;
    }
    .l-66{
        left:80px;
        z-index:7;
    }
    .l-77{
        left:96px;
        z-index:8;
    }
    .l-88{
        left:112px;
        z-index:9;
    }
    
   
}
/* Tablet */
@media only screen and (max-width:953px){
    .banner .banner-img{
        margin-top:10%;
    }
    
   
    .live-timetable .live{
        padding:6px;
    }
   
}
@media only screen and (max-width:884px){
    .my-courses .course>img{
        width:30%;
    }
    .moreInfo-col div .title{
        font-size:1.5rem;
    }
    .live-timetable .live img{
        width:30px;
        height:30px;
    }
    .vertical-line{
        margin:0 5px;
    }
    .moreInfo-col div .celender-course div>img{
        width:10px;
        height:10px;
    }
    
    .flex-column{
        flex-direction: column;
    }
    .moreInfo-col div .celender-course{
        margin-top:20px;
    }
    .moreInfo-col div .celender{
        padding:0px 0
    }
    .hori-line{
        margin:auto;
    }
    .my-courses .course .info-course .rate button,
    
     .live-timetable .live .title, 
     .live-timetable .live p.desc, 
     .moreInfo-col div .gradient-border,
     .table-courses .table-header .time h5{
        font-size:0.8rem;
        line-height:1rem;
    }
    .live-timetable .live .title{
        margin-bottom:2px;
    }
    .noti .title,
    .table-courses .table-header h3,
    
    
    .live-timetable .header-timetable h2,
    .moreInfo-col div .celender span{
        font-size:1.6rem;
        line-height:2.2rem;
    }
    .exam-list .exam .exam-info p:not(:last-child){
        margin:0;
    }
    


}

@media only screen and (max-width:768px){
    .live-timetable .live .live-img{
        width:30px;
        height:30px;
    }
    .header-timetable p{
        line-height:1.2rem;
        padding:10px 0;
    }
    .header-timetable img{
        width:10px;
        height:10px;
    }
    .boxes .box{
        padding:10px 15px;
    }
    .boxes .box-coins h1, .boxes .box-course h1{
        font-size:2rem;
        line-height:2.5rem;
    }
    
    
    .my-courses .course .info-course .course-price{
        margin-bottom:10px;
    }
    .banner .banner-contact{
        margin-top:1rem;
        width:100%;
    }
    .live-timetable .live p,
     .live-timetable .live .primary-bg,
     .exam-list .exam .exam-info p:not(:last-child),
     .live-timetable .live p, .live-timetable .live .primary-bg, .exam-list .exam .exam-info p{
        font-size:0.8rem;
        line-height:1rem;
    }
    .table-courses .table-header,
    .my-courses .header-course,
    .examination .header-examination,
    .live-timetable .header-timetable,
    {
        margin-bottom:10px;
    }
    .my-courses .course:not(:last-child){
        margin-top:10px;
    }
    .table-courses .table-header .time h5{
        font-size:1rem;
        line-height:1.3rem;
    }
    .exam-body .exam-list .exam img{
        margin-right:10px;
    }
    .my-courses .course .info-course .rate .primary-bg{
        margin:0 10px;
    }
    .my-courses .course .info-course .rate button,
    .live-timetable .live p.desc{
        padding:2px 3px;
    }
    nav .nav-menu .menu a{
        font-size:1.5rem;
    }
}
@media only screen and (max-width:700px){
    .live-timetable .live p.desc{
        letter-spacing: -0.8px;
    }
    .boxes .box img{
        width:50px;
        height:50px;
        margin-right:1rem;
    }
    .boxes .box{
        padding:5px 8px;
    }
    .noti-box .txt,footer p,footer span
    {
        font-size:1rem;
    }
    footer h2,nav .nav-menu .menu a,
    .my-courses .course .info-course .course-price{
        font-size:1.2rem;
        line-height: 2rem;
    }
}
@media only screen and (max-width:660px){
    .examination .exam-body >img{
        width:30%;
        height:auto;

    }
    .exam-list .exam .exam-info h3{
        font-size:1rem;
        line-height:1.3rem;
    }
    .vertical-line{
        margin:0 1px;
    }
    .live-timetable .live .primary-bg{
        padding:2px 5px;
    }
}
/* Mobile */
@media only screen and (max-width:630px){
    .card-product:hover,
    .moreInfo-col div .gradient-border:hover,
    .btn-private:hover,
    .user-col .user-achieve .btn:hover{
        box-shadow: none;
        transform: translateY(0px);
        
    }
    

    .my-courses .course .info-course{
        width:100%;
    }
    .banner .banner-img{
        margin-top:10px;
    }
    .btn-private,.user-col .user-achieve .btn{
        font-size:1.5rem;
    }
    .user-col .user-courses .btn, .btn-private{
        padding:15px 13px;
    }
    #my-chart{
        padding-bottom:0;
    }
    .showAt6{
        display:block;
    }
    .user-infor-name .btn{
        font-size:1.8rem;
        line-height:1.3rem;
    }
    .teachers .ml-8 > p{
        height:76px;
        -webkit-line-clamp: 4;
    }
    .my-courses .course .info-course .rate button,{
        letter-spacing: -0.3px;
    }
    .content.animate-col .user-col .user-img{
        width:150px;
        height:150px;
    }
    .showAt4{
        display:block;
    }
    header,
    .content .moreInfo-col,
    .banner .banner-contact,
    .boxes .box img,
    .hideAt4,
    .examination .exam-body >img,
    .live-timetable,
    .my-courses .course .info-course .course-price,
    footer{
        display:none;
    }
    .content{
        overflow:hidden;
        padding-top:0;
        
    }
    .content .container,.content .news-col,
    .banner-content .banner-txt{
        margin:0;
    }
    
    .banner-content .banner-txt{
        height:88px;
    }
    .content .news-col .banner,
    .noti,
    .news-col .moreInfo-col >div ,
    .examination,
    .live-timetable
    {
        border-radius:0;
    }

    .content .news-col .banner{
        border-radius:0;
        justify-content: center;
        align-items:center;
        height:201px;
    }
    .boxes,.news-col .plan,.news-col .fav-teacher,
    .news-col .fr{
        padding:16px ;
        background-color:#fff;
        text-align: center;
    }
    .boxes .box{
        padding:10px;
        width:47%;
        justify-content: center;
    }
    .noti .title, .table-courses .table-header h3, 
    .my-courses .header-course h2, 
     .live-timetable .header-timetable h2, .moreInfo-col div .celender span,
     .news-col .moreInfo-col .title,
     .news-col .plan .title,
     .news-col .fav-teacher .title,
     .news-col .fr .title,
     .user-infor-name h3.name
     {
        font-size:2rem;
        line-height:2.6rem;
    }
    .noti-box .label,
    .noti-box .txt,
    .table-courses .table-header .time h5,
    div .celender-course .course-title,
    .exam-list .exam .exam-info h3,
    .my-courses .course .info-course .title,
    .teachers .name,
    .plan .plans h3.title,
    .table-courses .table-header h3,
    .friend-ls .friend-name >p{
        font-size: 1.6rem;
        line-height: 2rem;
        
    }
    .boxes .box .title{
        font-size: 1.8rem;
        line-height: 2.5rem;
    }
    .boxes .box-coins h1, .boxes .box-course h1{
        font-size:2.4rem;
        line-height:3.1rem;
    }
    .news-col .moreInfo-col,
    .news-col .plan,
    .news-col .fav-teacher,
    .news-col .fr,
    .news-col .wrapper-plan{
        display:block;
        width:100%;
        margin-top:16px;
    }
    .header-timetable p,
    .moreInfo-col div .celender-course>div p,
    .exam-list .exam .exam-info p,
    .exam-list .exam .exam-info p:not(:last-child) ,
    .teachers p{
        font-size: 1.4rem;
        line-height: 1.8rem;
    }
    
    .flex-column,
    .teachers > div.flex{
        flex-direction: row;
    }
    .moreInfo-col div .celender-course > img{
        width:auto;
    }
    .exam-list,.exam-info,
    .my-courses .course>img{
        width:100%;
    }
    .my-courses .course{
        flex-direction: column-reverse;
        padding:0;

    }
    .my-courses .course .info-course{
        padding:16px;
    }
    .vertical-line{
        margin:0 24px;
    }
    .my-courses .course .info-course .rate button{
        padding:4px 8px;
        font-size:1.3rem;
        line-height:1.5rem;
    }
    .news-col .fav-teacher .header-timetable,
    .news-col .fr .header-timetable{
        margin-bottom:8px;
    }
    .news-col .fav-teacher{
        text-align:left;
    }
    .ml-8 div{
        justify-content: flex-start;
    }
    .news-col plans .plan{
        padding:0;
    }
    .plan-item{
        border:1px solid #DEDEDE;
        margin-bottom:24px;
    }
    .plan .plans h3.title{
       
        text-align:left;
        margin-bottom:24px;
    }
    /* img icon */
    .img-icon{
        display:block;
        position: fixed;
        top:40%;
        right:-19px;
        z-index:12;

    }
    .content.animate-col .user-col{
        width:223px !important;
    }
    .content .user-col{
        transition: all 0.2s;
    }
    .banner-content{
        width:66%;
        margin-left:15.5px;
        margin-right:0;
    }
    .banner .banner-img{
        margin-left:0;
    }
    .hori-line{
        margin:7px 2.5px;
    }
}
@media only screen and (max-width:482px){
    .table-courses .table-header .time h5{
        font-size:1.3rem;
        line-height:1.5rem;
    }
    .table-courses .table-header .time{
        width:224px;
    }
    .noti-box .txt,
    .my-courses .course .info-course .title{
        font-size:1.6rem;
        line-height:2.08rem;
    }
    
}
@media only screen and (max-width:414px){
    .table-courses .table-header .time{
        height:fit-content;
    }
    .table-courses .table-header h3{
        font-size:2rem;
    }
    .table-courses .table-header .time h5{
        font-size:1.6rem;
        line-height:2.4rem;
        font-weight:400;
        width:75px;
        overflow:hidden;
    }
    .table-courses .table-header .time img{
        width:11.5px;
        
    }
    .table-courses .table-header .time img:last-child{
        margin:0;
    }
    .table-courses .table-header .time{
        justify-content: space-between
    }
    .moreInfo-col div .celender{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:60px;

    }
    .hori-line{
        margin:7px 2.5px;
    }
    .table-courses .table-header{
        align-items:center;
    }
    .moreInfo-col div .celender-course div>img{
        width:18px;
        height:18px;
    }
    
}
@media only screen and (max-width:395px){
    .my-courses .course .info-course .rate button{
        line-height: 1rem;
        padding: 7px 8px;
        font-size: 1.1rem;
    }
}
@media only screen and (max-width:375px){
    .my-courses .course .info-course .rate button{
        
        font-size: 0.8rem;
    }
}

@media only screen and (max-width:360px){
    .table-courses .table-header h3{
        display:none;
    }
    
  
    .table-courses .table-header .time{
        width:100%;
    }
    .my-courses .course .info-course .rate button{
        font-size:0.9rem;
        padding:5px 5px;
    }
}

@media only screen and (max-width:340px){
    .my-courses .course .info-course .rate button{
        font-size:0.5rem;
        padding:3px 9px;
    }
}
@media only screen and (max-width:320px){
    .boxes .box .title{
        font-size:1.5rem;
    }
}